{% extends "conteneur.html" %}
{% block afternav %}
    {% include "partials/recherche.html" %}
{%endblock%}
{% block corps %}
<h1>Bienvenue !</h1>
    <p>
        {% if livres %}
        <p>Les {{ livres|length }} dernières oeuvres enregistrées sont :</p>
            <ul>
                {% for livre in livres %}
                <li><a href="{{url_for('livre', book_id=livre.book_id)}}">{{livre.book_nom}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
        La base de données est en cours de constitution
        {% endif %}
        </p>
{% endblock %}