{% extends "conteneur.html" %}

{% block titre %}
    {%if livre %}| Livre : {{livre.book_nom}} {% endif %}
{% endblock %}

{% block corps %}
    {% if livre %}
        <h1>{{livre.book_nom}}</h1>

        {% if current_user.is_authenticated %}
        <br/>
        <button type="button" class="btn btn-info text-light">
        <a class="text-light" href="{{url_for("book_update", book_id=livre.book_id)}}">Modifier la page</a>
    </button>
        <button type="button" class="btn btn-danger text-light">
        <a class="text-light" href="{{url_for("suppress_book", book_id=livre.book_id)}}">Supprimer la page</a>
    </button>
        <br/><br/>
        {% endif %}
        <dl>
            <dt>Auteur(s)</dt><dd></dd>
            <dt>Date de l'oeuvre</dt><dd>{{livre.book_date}}</dd>
            <dt>Type</dt><dd>{{livre.book_type}}</dd>
            <dt>Description</dt><dd>{{livre.book_description}}</dd>
            <br/>
            <dt>Historique des modifications</dt>
            {% if livre.authorships %}
            <dd>
                <ul>
                    {% for modification in livre.authorships %}
                        <li>[{{modification.authorship_date}}] {{modification.user.user_nom}}</li>
                    {% endfor %}
                </ul>
            </dd>
            {% else %}
                    Cette notice n'a pas subi de modifications.
            {% endif %}
        </dl>
    {% else %}
    <p>La base de données est en cours de constitution</p>
    {% endif %}
    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
{% endblock %}