{% extends "conteneur.html" %}

{% block corps %}

<div>
    <h1>Ajouter une mention intertextuelle à la base de données</h1>
</div>
<form class="form" method="POST" action="{{url_for('new_inter')}}">
    <br/>
    Les identifiants peuvent être trouvés dans les <b>notices d'oeuvres</b>.
    <br/>
    <br/>
    <div class="mb-3">
      <label for="ajout_mentions_book_id" class="form-label">Identifiant de l'oeuvre contenant la mention intertextuelle*</label>
        <input type="text" class="form-control" name="ajout_mentions_book_id"
               placeholder="Identifiant de l'oeuvre"/>
    </div>
    <div class="mb-3">
      <label for="ajout_is_mentioned_book_id" class="form-label">Identifiant de l'oeuvre référencée par cette mention*</label>
        <input type="integer" class="form-control" name="ajout_is_mentioned_book_id"
               placeholder="Identifiant de l'oeuvre"/>
    </div>
    <div class="mn-3">
      <label for="ajout_mentions_chapter" class="form-label">Indication de partie ou de chapitre</label>
        <input type="text" class="form-control" name="ajout_mentions_chapter" placeholder="Partie, chapitre..."/>
    </div>
    <div class="mn-3">
      <label for="ajout_mentions_chapter" class="form-label">Commentaires</label>
        <input type="text" class="form-control" name="ajout_mentions_comments" placeholder="Commentaires"/>
    </div>
    <br/>
    * Champs obligatoires.
		<br/>
		<br/>
		  <input type="submit" name="Créer" class="btn btn-primary" />
</form>

<br/>


<p class="text-center">
<p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
</p>

{% endblock %}