{% extends "conteneur.html" %}

{% block corps %}

<div>
    <h1>Ajouter une oeuvre à la base de données</h1>
</div>
<form class="form" method="POST" action="{{url_for('new_book')}}">
    <br/>
    <div class="mb-3">
      <label for="ajout_book_id" class="form-label">Identifiant de l'amende*</label>
        <input type="text" class="form-control" name="ajout_book_id" placeholder="ID de l'oeuvre"/>
    </div>
    <div class="mb-3">
      <label for="ajout_book_nom" class="form-label">Nom de l'oeuvre*</label>
        <input type="text" class="form-control" name="ajout_book_nom" placeholder="Nom de l'oeuvre"/>
    </div>
    <div class="mb-3">
      <label for="ajout_book_date" class="form-label">Date de publication de l'oeuvre*</label>
        <input type="text" class="form-control" name="ajout_book_date" placeholder="Date de l'oeuvre"/>
    </div>
    <div class="mb-3">
        <label for="ajout_book_type" class="form-label">Genre littéraire de l'oeuvre*</label>
          <select name="ajout_book_type" id="ajout_book_type">
                <option value="récit_autobiographique">Récit autobiographique</option>
                <option value="roman">Roman</option>
                <option value="théâtre>Théâtre</option>
                <option value="essai_philosophique">Essai philosophique</option>
                <option value="recueil_de_nouvelles">Recueil de nouvelles</option>
                <option value="autre">Autre</option>
            </select>
    </div>
    <div class="mn-3">
      <label for="ajout_book_description" class="form-label">Description de l'oeuvre</label>
        <input type="text" class="form-control" name="ajout_book_description" placeholder="Description de l'oeuvre"/>
    </div>
    <br/>
    * Champs obligatoires.
		<br/>
		<br/>
		  <input type="submit" name="Créer" class="btn btn-primary" />
</form>

<br/>


<p class="text-center">
<p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
</p>

{% endblock %}