{% extends "conteneur.html" %}

{% block corps %}

<div>
    <h1>Ajouter une oeuvre à la base de données</h1>
</div>
<form class="form" method="POST" action="{{url_for('new_book')}}">
    <br/>
    <div class="mb-3">
      <label for="ajout_book_id" class="form-label">Identifiant de l'oeuvre*</label>
        <input type="integer" class="form-control" name="ajout_book_id" placeholder="ID de l'oeuvre"/>
        Vous devriez utiliser l'ID immédiatement supérieure à celui de la dernière oeuvre ajoutée.
        La dernière oeuvre ajoutée est {{last_id}} (désolée pour cette solution de fortune).
    </div>
    <div class="mb-3">
      <label for="ajout_book_nom" class="form-label">Nom de l'oeuvre*</label>
        <input type="text" class="form-control" name="ajout_book_nom" placeholder="Nom de l'oeuvre"/>
    </div>
    <div class="mb-3">
      <label for="ajout_book_date" class="form-label">Année de publication de l'oeuvre*</label>
        <input type="integer" class="form-control" name="ajout_book_date" placeholder="Date de l'oeuvre"/>
    </div>
    <div class="mb-3">
        <label for="ajout_book_type" class="form-label">Genre littéraire de l'oeuvre*</label>
          <select name="ajout_book_type" id="ajout_book_type">
                <option value="Récit autobiographique">Récit autobiographique</option>
                <option value="Roman">Roman</option>
                <option value="Théâtre">Théâtre</option>
                <option value="Essai philosophique">Essai philosophique</option>
                <option value="Recueil de nouvelles">Recueil de nouvelles</option>
                <option value="Autre">Autre</option>
            </select>
    </div>
    <div class="mn-3">
      <label for="ajout_book_description" class="form-label">Description de l'oeuvre</label>
        <input type="text" class="form-control" name="ajout_book_description" placeholder="Description de l'oeuvre"/>
    </div>
    <br/>
    * Champs obligatoires.
		<br/>
		<br/>
		  <input type="submit" name="Créer" class="btn btn-primary" />
</form>

<br/>


<p class="text-center">
<p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
</p>

{% endblock %}