<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Base Beauvoir {%block titre %}{%endblock%}</title>
        {% include "partials/css.html" %}
        {% include "partials/metadata.html" %}
        <style type="text/css">
            .hero  {
                background-position: center center;
                padding:10vh;
                background-image: url({{url_for("static", filename="images/eugene_grasset.jpg")}});
            }
            .container .hero {
                background-image: url({{url_for("static", filename="images/eugene_grasset.jpg")}});
            }
        </style>
    </head>
    <body>

      <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="{{ url_for('accueil') }}">Base Beauvoir</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for("browse")}}">Oeuvres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for("simone_de_beauvoir")}}">Simone de Beauvoir</a>
            </li>
            {% if not current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for("inscription")}}">Inscription</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for("connexion")}}">Connexion</a>
              </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for("new_book")}}">Nouvelle oeuvre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for("new_inter")}}">Nouvelle mention</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for("deconnexion")}}">Déconnexion ({{current_user.user_nom}})</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for("browse_api")}}">API</a>
            </li>
        </ul>
        <form class="form-inline" action="{{url_for("recherche")}}" method="GET">
          <input class="form-control" name="keyword" type="search" placeholder="Recherche rapide" aria-label="Recherche">
          <button class="btn btn-info" type="submit">Rechercher</button>
        </form>
      </nav>
      {% block afternav %}{%endblock%}
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="row">
              <div class="col">
                {% for category, message in messages %}
                  <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                {% endfor %}
              </div>
          </div>
          {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col">
            {% block corps %}{% endblock %}
            </div>
        </div>
      </div>
    </body>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <footer class="bg-dark text-center fixed-bottom text-white text-lg-start">
        <div class="text-center p-3"">
        Cécile Sajdak, 2022 | <a href="https://github.com/SjdkC">Github</a>
        </div>
    </footer>
</html>